* { 
    margin:0;
    padding:0;
  }
  a:link, a:visited, a:hover, a:active {
    color:#0f0;
    font-size:16px;
  }
  body {
    background:rgb(255, 255, 255);
    font-family:verdana;
  }
  h1 {
    color:rgb(0, 0, 0);
    font-size:24px;
  }
  p {
    font-size:16px;
  }
  ul {
    list-style-type:none;
  }
  #contenedor {
    margin:0 auto;
    width:800px;
  }
  #contenido {
  
    float:left;
    height:9%;
    padding:10px;
    width:75%;
  }
  #menu {
    background-color:rgb(255, 255, 255);
    float:left;
    height: 1588px;
    padding:2rem;
    width:15rem;
  }
  #pie { 
    background-color:#212429;
    clear:both;
    color:rgb(255, 255, 255);
    padding:10px;
    text-align:center;
  }
  #main-header {     
    background-image:url("assets/images/patron-1.png");
   /* background-position: center; /* Center the image */ 
    height: 350px; /* You must set a specified height */
    /* Enable flex mode. */
    /*display: flex; */
    /* Spread out the elements inside the header. */
    /*justify-content: space-between;
    /* Align items vertically in the center. */
    /*align-items: center;*/
    
  }	
    #pre25 {
      display: block;
      font-family: monospace;
      white-space: pre;
      margin: 1em 0;
    }
    pre{
      font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
      margin-bottom: 10px;
      overflow: auto;
      width: auto;
      padding: 5px;
      background-color:#FEC62E;
      width: 650px;
      padding-bottom: 20px!;
      max-height: 600px;
    }

    #img{
      width: 650px;
      max-height: 600px;
    }
    #negrito{
      background-color:rgb(0, 0, 0);
      border-radius: 2px;
      color:rgb(255, 255, 255);
    }
    #barrita{
      float:left;
      height:50px; color: black; 
      background-color: black; 
      width: 3px;
    }

    #btn {
      border: 1px solid #000000; /*anchura, estilo y color borde*/
      padding: 10px; /*espacio alrededor texto*/
      background-color: #000000; /*color botón*/
      color: #ffffff; /*color texto*/
      text-decoration: none; /*decoración texto*/
      text-transform: uppercase; /*capitalización texto*/
      font-family: 'Helvetica', sans-serif; /*tipografía texto*/
      border-radius: 50px; /*bordes redondos*/
      }
      #mail {
        border: 1px solid #000000; /*anchura, estilo y color borde*/
        padding: 10px; /*espacio alrededor texto*/
        background-color: #ffffff; /*color botón*/
        color: #000000; /*color texto*/
        text-decoration: none; /*decoración texto*/
        text-transform: uppercase; /*capitalización texto*/
        font-family: 'Helvetica', sans-serif; /*tipografía texto*/
        border-radius: 50px; /*bordes redondos*/
        width: 150px;
        }
        #edt_nom {
          border: 1px solid #000000; /*anchura, estilo y color borde*/
          padding: 10px; /*espacio alrededor texto*/
          background-color: #ffffff; /*color botón*/
          color: #000000; /*color texto*/
          text-decoration: none; /*decoración texto*/
          text-transform: uppercase; /*capitalización texto*/
          font-family: 'Helvetica', sans-serif; /*tipografía texto*/
          border-radius: 50px; /*bordes redondos*/
          width: 150px;
          }
